<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ltsdk.tool.showtext"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       <!--  <activity
            android:name="com.ltsdk.showdebug.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        
        <!-- <activity
            android:name="com.ltsdk.showdebug.ShowFile" >
            <intent-filter>
                <action android:name="intent.action.ShowFile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> -->
        
        <activity
            android:name="com.ltsdk.showdebug.Entry" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="sci.apk.plugin.ProxyActivity" />
        
        
    </application>

</manifest>
